@import '../../global';

.topology {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;
}

.address {
  width: @global_width;
  padding: 10px;
  box-shadow: 0 2px 10px 2px #ccc;
  margin-bottom: 10px;

  .underlayTitle {
    margin: 5px 0 5px 0;
  }

  .underlay {
    padding: 0;
    list-style: none;

    .underlayList {
      display: flex;
      align-items: center;
      height: 25px;
      line-height: 25px;
      //margin-bottom: 5px;

      &:before {
        content: '·';
        font-size: 30px;
        padding-right: 5px;
      }
    }
  }
}
