.fileUpload {
  width: 1100px;
  display: flex;
  height: 250px;
}

.uploadArea {
  width: 350px;
}

.upload {
  width: 100px;
}

.uploadAttrArea {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 50px;
  font-size: 14px;

  .radioGrid {
    display: grid;
    grid-template-columns: 100px auto;
    justify-items: start;
    margin-bottom: 10px;
  }
}

.uploadIcon {
  font-size: 50px;
  color: @main_color;
}
