.peers {
  margin-top: 50px;
}
.peersList {
  margin-right: 20px;
  cursor: default;
  padding-bottom: 10px;
  //border-radius: 10px;
}
.peersListSelect {
  color: @main_color;
  border-bottom: 2px solid @main_color;
}
