@import '../global';

.app_left {
  display: flex;

  .menu {
    box-sizing: border-box;
    width: @nav_width;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 999;
    display: flex;
    overflow-y: auto;
    flex-direction: column;

    .logo {
      padding-left: 30px;
      margin: 20px 0;

      a {
        display: flex;
        align-items: flex-end;

        .logoImg {
          width: 40px;
          height: 40px;
        }

        .logoText {
          position: relative;
          top: -2px;
          color: @main_color;
          margin-left: 10px;
          font-size: 28px;
          font-weight: 600;
          line-height: 1em;
        }
      }
    }

    .nav {
      margin-top: 30px;
      font-size: 18px;
      flex: 1;

      > ul {
        padding-left: 0;
        list-style: none;

        > li {
          border-left: 3px solid transparent;
          display: flex;
          align-items: center;
          height: 60px;
          padding-left: 30px;

          &:hover {
            background-color: #fafafa;
          }
        }
      }

      .navText {
        letter-spacing: 1.5px;
        font-weight: 200;
      }

      .navIcon {
        margin-right: 25px;
      }

      .active {
        border-left: 3px solid @main_color;
        background-color: #fafafa;
        color: @main_color;
      }
    }

    .statusInfo {
      padding: 10px 0 10px 30px;
      letter-spacing: 1px;

      .connected {
        color: #4b7902;

        &:before {
          content: '';
          display: inline-block;
          width: 10px;
          height: 10px;
          background-color: #4b7902;
          border-radius: 50%;
          margin-right: 5px;
        }
      }

      .disconnected {
        color: #d9001b;

        &:before {
          content: '';
          display: inline-block;
          width: 10px;
          height: 10px;
          background-color: #d9001b;
          border-radius: 50%;
          margin-right: 5px;
        }
      }
    }
  }
}

.app_right {
  width: calc(@global_width + 60px);
  //box-sizing: border-box;
  margin-left: @nav_width;
  padding: 30px;
}
