.chunkTooltip {
  max-width: 1000px;
  //max-height: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  &::after {
    content: '';
    flex: 1;
  }
  .square {
    margin: 1px;
    box-sizing: border-box;
    width: 5px;
    height: 5px;
    border: 1px #000 solid;
  }

  .bgc {
    background-color: #52c41aba;
  }
}

